<%= form_with(model: newcomment) do |form| %>
  <% if newcomment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(newcomment.errors.count, "error") %> prohibited this newcomment from being saved:</h2>

      <ul>
        <% newcomment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :pc_user_id, style: "display: block" %>
    <%= form.text_field :pc_user_id %>
  </div>

  <div>
    <%= form.label :report_id, style: "display: block" %>
    <%= form.text_field :report_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
